:root{
    --primary-color: #3C3C3C;
    --secondary-color: #FFFFFF;
    --tertiary-color: #EDEDED;
    --title-gray: #B6B6B6;
    --darker-background: #222222;
    --highlight-color: #FF9E44;
    --highlight-soft: #E970FF;
    --rounded-button: 8px;
    --rounded-full-section: 24px;
}

*{
    font-family: "Rubik", sans-serif;
}

section{
    min-height: 100vh;
}

.defaultButton{
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    width: fit-content;
    padding: 8px 14px;
    border-radius: var(--rounded-button);
    cursor: pointer;
    a{
        padding-left: 5px;
        color: var(--secondary-color);
        text-decoration: none;
    }
}

.downloadButtonLight{
    background-color: var(--highlight-color);
}

.downloadButtonDark{
    background-color: var(--primary-color);
}

.linkedInButton{
    background-color: #ffffff2c;
    padding: 14px;
}

.projectButton{
    background-color: var(--highlight-color);
    border-radius: var(--rounded-full-section);
    padding: 10px;
    margin-top: 50px;
}

.title{
    color: var(--secondary-color);
    font-size: 3.8rem;
    font-family: "Rubik Mono One", monospace;
    font-weight: 300;
}

.customLineHeight{
    line-height: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 14px 63px;
    box-shadow: 0px 4px 4px 0px #00000025;
    position: fixed;
    background-color: var(--tertiary-color);
    
    li:last-child{
        font-weight: bold;
    }
}

#navbarLinks{
    display: flex;
    a{
        text-decoration: none;
        color: var(--primary-color);
    }
    li{
        padding-left: 73px;
    }
}

#homeSection{
    background-color: var(--darker-background);
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    
    #homePhoto{
        width: 40vw;
        height: calc(100vh -60px);
        background-image: url("assets/img/fotoAna.png");
        background-size: cover;
        background-position: center;
    }
    #homeContent{
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h2{
            color: var(--title-gray);
            font-weight: 300;
            font-size: 2.2rem;
            padding: 20px 0px 50px 0px;
        }
    }
}

#aboutSection{
    background-color: var(--highlight-color);
    display: flex;
    justify-content: space-between;
    
    #aboutPhoto{
        height: 100vh;
        width: 40vw;
        background-image: url("assets/img/background03.jpg");
        background-size: cover;
        background-position: center;
    }
    #aboutTextContainer{
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
        #aboutTextItem{
            display: flex;
            flex-direction: column;
            width: 80%;
            text-align: justify;
            p{
                font-size: 1.3rem;
                color: var(--tertiary-color);
                padding: 45px 0px 65px 0px;
            }
        }
    }
}

#skillsSection{
    background-image: url("assets/img/background02.jpg");
    background-size: cover;
    background-position: center;
    
    .overlay{
        height: 100vh;
        width: 100%;
        background-color: #FFFFFF80;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            color: var(--primary-color);
            padding-bottom: 68px;
        }
        ul{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            max-width: 800px;
            gap: 27px;
            padding-bottom: 150px;
        }
        li{
            background-color: #00000039;
            color: var(--secondary-color);
            padding: 12px 18px;
            border-radius: var(--rounded-button);
            font-size: 1.5rem;

        }
    }
}

#projectSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darker-background);
    width: 100vw;

    h1{
        padding: 40px 0px;
    }

    #projectContainer{
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 40px;
        padding-bottom: 20px;
        max-width: 90vw;
        /* scrollbar-width: none; */
        
        .projectItem{
            flex: 0 0 auto;
            width: 350px;
            padding: 50px 45px;
            border-radius: var(--rounded-full-section);
            border: 6px solid var(--primary-color);
            
            h2{
                font-size: 2rem;
                font-weight: 300;
                color: var(--title-gray);
            }
            p{
                padding-top: 27px;
                color: var(--secondary-color);
                font-size: 1rem;
                line-height: 1.4rem;
                font-weight: 300;
            }
            a{
                padding: 0px 8px;
                text-decoration: none;
            }
        } 
    }
}

#contactSection{
    background-color: var(--highlight-soft);
    display: flex;
    
    #contactTextContainer{
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        #contactTextItem{
            width: 80%;
            max-width: 700px;
            display: flex;
            flex-direction: column;
        }

        h1{
            padding-bottom: 45px;
            text-decoration: underline;
        }
        p{
            font-size: 1.3rem;
            color: var(--secondary-color);
        }
    }

    #contactPhoto{
        width: 40vw;
        height: 100vh;
        background-image: url("assets/img/contact.jpg");
        background-size: cover;
        background-position: center;
    }
}


.emailAndPhone{
    font-style: normal;
    padding-top: 40px;
    padding-bottom: 70px;

    .contactItem{
        display: flex;
        padding-top: 12px;
        p{
            padding-left: 14px;
        }
    }
}

.socialMedia{
    display: flex;
    gap: 1rem;

    a{
        background-color: #ffffff2c;
        padding: 12px;
        border-radius: var(--rounded-button);
        cursor: pointer;
    }
    img{
        max-height: 24px;
    }
}

@media (orientation: portrait){
    .title{
        font-size: 2.6rem;
    }

    #homeSection{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2{
            font-size: 1.7rem;
        }
        #homePhoto{
            height: 30vh;
            width: 30vh;
            border-radius: 50%;
            margin-bottom: 3.8rem;
        }
        .homeText{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    #aboutSection{

        #aboutTextContainer{
            text-align: justify;
            width: 100vw;
            align-items: center;

            #aboutTextItem{
                align-items: center;
            }
        }
        #aboutPhoto{
            display: none;
        }
    }

    #contactSection{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;

        h1{
            text-align: center;
        }
        #contactPhoto{
            height: 30vh;
            width: 30vh;
            border-radius: 50%;
            margin-bottom: 3.8rem;
        }
        p{
            text-align: justify;
        }

        #contactTextContainer{
            width: 100vw;

        }

        .contactItem:last-child{
            text-align: start;
            img{
                width: 1.75rem;
                height: 1.75rem;
            }
        }

        .emailAndPhone{
            padding-bottom: 3rem;
        }
        .socialMedia{
            justify-content: center;
            margin-bottom: 3.5rem;
        }
    }
}

@media (max-width: 700px){
    nav{
        display: none;
    }
}